@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family : "Inter" , sans-serif ;
}

.img {
  scale: 1; /* Default scaling */
}

@media (max-width: 768px) {
  .img {
    scale: 1.2; /* Slightly smaller for medium screens (tablets) */
  }
}

@media (max-width: 500px) {
  .img {
    scale: 3; /* Reset to normal size for small screens (phones) */
  }
}
